<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <system.runtime.remoting>
    <application name="UrbanChallenge.Arbiter.Remora">
      <service>
        <wellknown mode="Singleton" 
                   type="UrbanChallenge.NameService.ObjectDirectory,NameService"
                   objectUri = "tcp://skynet1:12345/ObjectDirectory" />
      </service>
      <channels>
        <channel ref="tcp" port="0">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
        <channel type="Ch.Elca.Iiop.IiopChannel,IiopChannel" port="7707"/>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>