<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="OperationalLayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <OperationalLayer.Properties.Settings>
      <setting name="DoAvoidance" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BuildMode" serializeAs="String">
        <value>FullSim</value>
      </setting>
      <setting name="IgnoreTracks" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MachineName" serializeAs="String">
        <value/>
      </setting>
    </OperationalLayer.Properties.Settings>
  </applicationSettings>
  <system.diagnostics>
    <sources>
      <source name="operational" switchName="default switch">
        <listeners>
          <add name="console" />
          <add name="logfile" />
        </listeners>
      </source>
      <source name="behaviors" switchName="behavior switch">
        <listeners>
          <add name="console" />
          <add name="logfile" />
        </listeners>
      </source>
      <source name="tracking" switchName="tracking switch">
        <listeners>
          <add name="console"/>
          <add name="logfile"/>
        </listeners>
      </source>
      <source name="simstate" switchName="simstate switch">
        <listeners>
          <add name="console"/>
          <add name="logfile"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <!--
      <add name="default switch" value="Verbose"/>
      <add name="behavior switch" value="Verbose"/>
      <add name="tracking switch" value="Verbose"/>
      <add name="simstate switch" value="Warning"/>
      -->
      <add name="default switch" value="Warning"/>
      <add name="behavior switch" value="Warning"/>
      <add name="tracking switch" value="Warning"/>
      <add name="simstate switch" value="Warning"/>
    </switches>
    <sharedListeners>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener" initializeData="false" traceOutputOptions="ThreadId,LogicalOperationStack"/>
      <add name="logfile" type="System.Diagnostics.TextWriterTraceListener" initializeData="log.txt" traceOutputOptions="ThreadId,LogicalOperationStack"/>
    </sharedListeners>
    <trace autoflush="true">
      <listeners>
        <add name="console2" type="System.Diagnostics.ConsoleTraceListener" initializeData="false"/>
        <add name="logfile2" type="System.Diagnostics.TextWriterTraceListener" initializeData="log2.txt"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.net>
    <settings>
      <performanceCounters enabled="true"/>
    </settings>
  </system.net>
</configuration>
