<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application name="Simulator">
      <service>
        <wellknown mode="Singleton"
                   type="UrbanChallenge.NameService.ObjectDirectory,NameService"
                   objectUri = "tcp://localhost:12345/ObjectDirectory" />
      </service>
      <channels>
        <channel ref="tcp" port="0">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>