<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArbiterAdvanced.ArbiterSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UrbanChallenge.Arbiter.Core.ArbiterSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <system.runtime.remoting>
    <application name="ArbiterAdvanced">
      <service>
        <wellknown mode="Singleton"
                   type="UrbanChallenge.NameService.ObjectDirectory,NameService"
                   objectUri="tcp://raptor:12345/ObjectDirectory"   />
      </service>
      <channels>
        <channel ref="tcp" port="0">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
        </channel>        
      </channels>
    </application>
    <customErrors mode="Off"/>
  </system.runtime.remoting>
  <userSettings>
    <UrbanChallenge.Arbiter.Core.ArbiterSettings>
      <setting name="SimMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PrintCycleTimesAlways" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IgnoreVehicles" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseTestOperational" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShouldSpoofComputerName" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SpoofComputerName" serializeAs="String">
        <value>SKYNET17</value>
      </setting>
      <setting name="IncludeBlockageTiming" serializeAs="String">
        <value>True</value>
      </setting>
    </UrbanChallenge.Arbiter.Core.ArbiterSettings>
  </userSettings>
</configuration>
